button.menu__open.button--hide-text.burger.js-open-menu Menu
nav.menu.js-menu
	button.menu__close.js-close-menu
		span.cross &times;
	ul
		li.menu__item: a(href='/') Blob
		li.menu__item: a(href='/lines/') Drawing lines
		li.menu__item: span Journey to the Cosmic Sea
		li.menu__item: a(href='/iceland/') Iceland