.storyline
	// This is a simulation of components to be generated with JS
	.storyline__point.storyline__point--past
	.storyline__point.storyline__point--past
	.storyline__point.storyline__point--past
	.storyline__point.storyline__point--current
	.storyline__point.storyline__point--next
	.storyline__point
