extends ./layouts/default

block content
	.page--cv#gradient: .container
		.header: .grid.grid--middle
			.grid__item.one-third.portable--one-whole
				h1.title.title--large Jack Bush
			.grid__item.two-thirds.portable--one-whole
				p.contact-details +44 750 222 5558
				p.contact-details: a(target='_blank' href='mailto:bush.jack@gmail.com') bush.jack@gmail.com

		.grid.grid--rev
			main.grid__item.two-thirds.portable--one-whole
				h2.title Experience

				.section
					h3.section__title Head of Product
					h4.section__location Everledger: October 2016 – Present

					p.body Responsible for designing and implementing solutions for a diverse range of B2B and B2C clients, and using this work to create a suite of modular, re-usable core products.

					p.body Building browser-based prototyping tools so that Business Analysts can customise core products, to test schemas and user journeys while on-site with clients.

				.section
					h3.section__title Volunteer coach
					h4.section__location Codebar: June 2015 – Present

					p.body Codebar is a not-for-profit organisation running web development classes for demographics underrepresented in the tech industry. I teach HTML, CSS, Javascript and Ruby, ranging in difficulty from introducing markup to making small web apps.

				.section
					h3.section__title Product Designer + Engineer
					h4.section__location Make Us Proud: May 2015 – August 2016

					p.body Responsible for defining product design and engineering methodologies across the agency and applying them to client projects.

					p.body Involved in early consultations with prospective clients, running design sprints, facilitating workshops, building prototypes, user testing and iterating, and ultimately developing prototyped interactions into production-ready codebases.

					p.body Also responsible for interviewing applicants across design and development roles, including devising and administering appropriate exercises.

					p.body Projects included B2B and B2C platforms, marketing sites and art installations.

				.section
					h3.section__title Product Designer + Engineer
					h4.section__location Freelance: 2012 – 2016

					p.body Applying user-focussed design methodologies to resolve products through stakeholder workshops, user testing, behaviourally-driven prototypes and iterative improvements.

					p.body Clients have ranged from startups to corporations, including The Telegraph.

				.section
					h3.section__title Photographer
					h4.section__location Freelance: 2008 – 2014

					p.body Contracted for editorials, lookbooks, portraits, events and an assortment of commercial projects.

					p.body Work has been exhibited publicly and featured in publications including VICE's Creators Project and AdWeek.

				.section
					h3.section__title Production Manager
					h4.section__location Ponoko: September 2010 – April 2013

					p.body Responsible for production management for New Zealand and Australia. Working knowledge of supply chain mechanics and optimisation, cashflow, negotiation and hiring. Clients included NASA, Icebreaker and Autodesk.

					p.body Cut supply costs by over 25% and reduced order turnaround from 10 days to 48 hours.

					//- p.body: a(target='_blank' href='https://www.ponoko.com/') Company

				.section
					h3.section__title Principal Research Assistant
					h4.section__location Daniel K. Brown Installations and Exhibitions: October 2011 – March 2012

					p.body Initial responsibility was to spend a month in the Kathmandu Valley finding and documenting Vishnu shrines, which narrate Nepalese mythologies relating to the origins of the cosmos. Later role was to integrate these findings into a critical series of renderings and technical drawings.

					//- p.body: a(target='_blank' href='http://www.danielkbrown.com/?p=3150') Project

			aside.grid__item.one-third.portable--one-whole.sidebar
				h2.title.sidebar__title Education

				.section.sidebar__section
					h3.section__title Bachelor of Design Innovation
					h4.section__location Victoria University of Wellington
					p.section__dates March 2009 - June 2012

				.section.sidebar__section
					h3.section__title Web Development Immersive
					h4.section__location General Assembley
					p.section__dates January 2015 - April 2015

				h2.title.sidebar__title Awards

				.section.sidebar__section
					h3.section__title Winner: Best Exhibition Design
					p.section__dates Design Week (2016)

					p.body Tate Sensorium was an immersive, multisensory exhibition at Tate Britain.

					p.body I was responsible for designing and building an application to print a visualisation for each guest of their physiological response to the exhibition, and a bespoke tour of the gallery based on their responses.

					p.body: a(target='_blank' href='http://www.tate.org.uk/whats-on/tate-britain/display/ik-prize-2015-tate-sensorium') Project

				.section.sidebar__section
					h3.section__title Winner: Natural History Museum Hackathon
					p.section__dates Over the Air (2016)

					p.body Challenge was to present the Natural History Museum's digital collection to a web audience. As a team of two, we made a browser-based 3D experience where users can explore audio recordings of birds and insects, with surround sound.

					p.body: a(target='_blank' href='http://www.gilbertsinnott.com/nhm/') Project

				.section.sidebar__section
					h3.section__title Bronze award: Best use of digital to an investment audience
					p.section__dates Digital Impact Awards (2015)

					p.body Website with rich interactive infographics and video, communicating ten stories of growth, innovation and transformation at Alcatel-Lucent.

					p.body: a(target='_blank' href='http://success.alcatel-lucent.com/en/') Project

				.section.sidebar__section
					h3.section__title Finalist: Superstudio 24
					p.section__dates SONA (2009)

					p.body Annual architecture competition of three-person teams, held across Australasia. Placed top in New Zealand and second across the competition.

					p.body: a(target='_blank' href='http://superstudio09.wikifoundry.com/page/NZ+Finalist+%27The+Pancake+Effect%27') Project

				.section.sidebar__section
					h3.section__title Winner: Visual Arts Scholarship
					p.section__dates NZQA (2009)

					p.body University scholarship, awarded annually. Submission was an architecturally-focussed photographic series, exploring distorted spaces by re-photographing images projected onto three dimensional models of themselves.