extends ./layouts/default

block content
	.page
		.page__major
			img(src='/img/placeholder.jpg')
		.page__minor
			include ./stories/gunnar
			//- include ./stories/holidayRomance
			//- include ./stories/asa
			//- include ./stories/icelandicTheft

	include ./partials/storyline