extends ./layouts/default

block content
	.page
		.page__major
			img(src='/img/placeholder.png')
		.page__minor
			include ./stories/gunnar
			//- p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quasi aliquam aspernatur quidem possimus perspiciatis ipsa cumque eius consectetur inventore maxime, culpa, quis, delectus animi recusandae, ab accusantium ad! Expedita.
	//- include ./stories/holidayRomance
	//- include ./stories/asa
	//- include ./stories/icelandicTheft

	include ./partials/storyline