// Font sizes
$fs-base: 18px;

// Other
$lightgrey: rgb(243,244,243);
$line: #D8D8D8;

// Border
$border: 1px solid $line;


$gutter: 36px;


$c-black: #060633;
// $c-link: #00206b;
$c-link: #0000d0;

$c-pink: #fac3be;
$c-yellow: #f6d28d;
$c-green: #d9dbc5;
$c-slate: #beced0;
$c-grey: #efe7e3;


// $c-black: #171A26;
$c-slate: #58595B;
$c-prussian: #13283A;
$c-petrol: #3D5C69;
$c-saphire: #43538E;
$c-olive: #676E3F;
$c-ochre: #EDAF50;
$c-bronze: #B08F6E;
$c-grey2: #D1D3D4;
$c-grey3: #DCDDDE;

// $c-link: $c-saphire;