h2 Asa
p There was a pixie-prettiness to Anya’s blonde bob and little head. Her smile was shy and disarming. She tucked her plimsolls under her plump bum as she sat, and asked us –me and Jack –what we were doing in this damp Reykjavik skatepark. Eating our poor man’s lunch was the answer. We offered her a dip of a rice cracker in our tray of fish paste, but she wisely declined. 
p But you’re not here for the scenery yourself, I said, waiting for someone?
p Oh, I suppose yes I will be…I was surprised to see her squirm in discomfort. Was there a secret here? Jack certainly thought so.
p So, who is he? Jack smiled, don’t worry, we’re not here to judge. In fact, he continued, soon we won’t be here at all, flying out at eight tonight.
p Aye, I put in, think of us like bottles you can put your secret message in before we’re flung for foreign shores.
p Anya flicked on and off a smile at our suggestion. She chewed her lip for a moment, then said
p It’s not a boy I am meeting, but a girl. 
p Jack and I’s eyebrows knitted themselves into our fringes as she explained. A student party the weekend previous had seen the usual Technicolor alcoholic vibrancy grow lustier as the night rumbled on. Anya had, after kissing a few boys, found herself in the embrace of a tall and uncommonly beautiful girl. I imagine the music stopping and everybody circling in slack jawed wonderment as these two girls shared their first electric kiss, sparks flying and feet leaving the floor. 
p It was amazing, said Anya, who had never even contemplated kissing a girl before.  I have had many boyfriends, but kissing them was so normal, like…she cast about for image…like eating sandwiches. Me and Jack stifled laughs as she continued, but this girl was more like cocaine maybe. I want so much to see her, because it is scary and exciting, you understand?
p And with this one kiss, Anya’s humdrum life had been blown apart. Her family was splitting at the seams. Her brother was in full support of her experimentation, but her parents were pulling their hair out. 
p ‘Anya,’ my mother has been crying ‘I will never get to be a grandmother, think of the shame you are bringing to the family!’ she says. But I must try, you know. I want my parents to be happy, of course, but…
p Nah too true, jack concurred, wiping ricey crumbs from his mouth and looking serious, they’ll get over it. You can always change your mind.
p I told her the thing, I don’t know what you call it, when the doctor can make you pregnant? Anya said.
p Already she’d been discussing with her mother the potential for IVF. It seemed quite an advanced state of consideration for just one kiss. And she looked like she was about to cry, right there with us on the bench.   
p So who’s the lucky girl anyway, I asked to shift the mood.
p Anya flicked on a smile that burnt away the tears. Clearly this girl moved her, whoever she was. 
p Well she is a lesbian, she has finished her studies and is working, I don’t know for what. And she asked me to meet her at the cinema for a film. 
p Anya checked her watch and sprung to her feet.
p Actually I must go! I will miss bus if I don’t go quickly. It has made me very happy being able to speak to you, thank you, she told us, before scampering away to her date with destiny.
