.menu {
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 1010;

	background: black;
	color: white;
	padding: 48px 64px 30px 48px;

	ul {
		list-style: none;
		padding: 0
	}

	transition: 300ms;
	transform: scale(0);
	transform-origin: calc(100% - 30px) 30px;
	&.open {
		transform: scale(1);
	}
}

	.menu__item {
		font-size: 18px;
		font-weight: 300;
		line-height: 1.8;

		a {
			color: white;
			transition: 300ms;
		}

		a:hover {
			opacity: 0.6
		}
	}

.menu__open,
.menu__close {
	position: absolute;
	width: 36px;
	height: 36px;
	outline: none;
}

.menu__open {
	top: 24px;
	right: 24px;
	z-index: 1000;

	background-color: white;
	background-image: url(/img/burger.svg);
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid $lightgrey;
}

.menu__close {
	top: 12px;
	right: 12px;
	background: transparent;
	border: none;

	.cross {
		color: white;
		font-size: 36px;
		position: relative;
		line-height: 0;
		top: 6px;
	}
}