// CORE
@import '_core/bower';
@import '_core/variables';

// HOUSEKEEPING
*,
*::before, *::after {
	box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}

img {
	max-width: 100%;
}

h1, h2, p {
	color: $copy-black;
}
