// CORE
@import '_core/fonts';
@import '_core/variables';
@import '_core/bower';
@import '_core/animation';

// HOUSEKEEPING
*,
*::before, *::after {
	box-sizing: border-box;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
	font-family: sans-serif;
	line-height: 1.5;
}

body {
	font-family: 'Apercu', sans-serif;
	font-weight: 300;
	background: $c-grey2;
	color: $c-black;
}

img {
	max-width: 100%;
}

.full-screen,
.sketch canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}



.container {
	display: block;
	margin: 0 auto;
	width: 90vw;
	max-width: 960px;

	@media (max-width: 1024px) {
		max-width: 640px;
	}
}


// COMPONENTS
@import '_components/menu';

// working space....

.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: calc(100vh - 120px);
	letter-spacing: -0.31em;
}

	.page__major,
	.page__minor {
		display: inline-block;
		vertical-align: top;
		margin-top: 10vh;
		letter-spacing: normal;
		max-height: 70vh;
		overflow: scroll;
	}


	.page__major {
		width: 60vw;
		margin: 10vh 5vw 0 5vw;
	}
	.page__minor {
		width: 25vw;

		* {
			margin-top: 0;
		}
	}

.storyline {
	position: fixed;
	width: 100vw;
	height: 120px;
	bottom: 0;

	&::before {
		content: '';
		position: absolute;
		width: 61.67vw;
		left: 5vw;
		height: 1px;
		top: 0;
		border-top: 1px solid grey;
		z-index: -100;
	}

	&::after {
		content: '';
		position: absolute;
		width: 28.333vw;
		right: 5vw;
		height: 1px;
		top: 0;
		border-top: 1px dotted grey;
		z-index: -100;
	}
}

.storyline__point {
	position: absolute;
	top: -12px;
	left: 5vw;
	width: 24px;
	height: 24px;

	border: 1px solid grey;
	background: white;
	border-radius: 100%;

	transition: 1000ms;
	cursor: pointer;
}

.storyline__point--current {
	left: 66.67vw;

	&::after {
		content: '';
		position: absolute;
		height: calc(90vh - 120px);
		width: 1px;
		background: grey;
		bottom: 12px;
		left: 11px;
		z-index: -1;
	}
}

.storyline__point--next {
	left: 95vw;
	border-style: dotted;
	animation: pulse 1800ms linear infinite both;
}



.button--hide-text {
	font-size: 0;
}


.fullscreen__container {
	position: absolute;
	bottom: 12px;
	right: 24px;

	color: white;
	text-decoration: underline;
	cursor: pointer;
}









.page--cv {
	padding: 64px 0 42px 0;
	* {
		animation: fadeIn 1000ms;
	}
}

@keyframes fadeIn {
    000% { opacity: 0; }
    020% { opacity: 0; }
    100% { opacity: 1; }
}

#gradient:target {
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100vw;
		height: 80vh;
		left: 0;
		z-index: 100;
	}

	&::before {
		top: 0;
		background: linear-gradient(0deg, transparent, $c-green);
	}

	&::after {
		bottom: 0;
		background: linear-gradient(0deg, $c-pink, transparent);
	}

	* {
		position: relative;
		z-index: 200;
	}
}

.contact-details {
	margin: 0;

	a {
		color: $c-link;
		text-decoration: none;
		border-bottom: 1px solid $c-link;

		transition: 200ms;
		&:hover {
			opacity: 0.85;
		}
	}
}

.header {
	margin-bottom: $gutter;
}


.title {
	font-weight: 500;
	font-size: 30px;
	margin: 6px 0 12px 0;

	line-height: 1.2;
}

	.title--large {
		// text-transform: uppercase;
		font-size: 48px;
		font-weight: 600;
		margin: 0;
	}

.section {
	margin-bottom: $gutter;
}

.section__title {
	margin-top: 3px;
	margin-bottom: 0px;
	font-weight: 400;
	font-size: 22px;
}

.section__location {
	margin-top: -3px;
	margin-bottom: 9px;
	font-weight: 400;
	font-size: 18px;
	opacity: 0.75;
}

.section__dates {
	font-size: 14px;
	font-weight: 300;
	margin-top: 3px;
	opacity: 0.7;
}

.body {
	font-weight: 300;
	line-height: 1.6;
	margin: 0 0 9px 0;

	a {
		color: $c-link;
		text-decoration: none;
		border-bottom: 1px solid $c-link;

		transition: 200ms;
		&:hover {
			opacity: 0.85;
		}
	}
}

@media (min-width: 1024px) {
	.sidebar {
		.section {
			margin-bottom: 24px;
		}

		.section__title {
			margin-top: 3px;
			margin-bottom: 0;
			font-weight: 400;
			font-size: 18px;
		}

		.section__location {
			margin-top: 3px;
			margin-bottom: 0;
			font-weight: 400;
			font-size: 18px;
			opacity: 0.75;
		}

		.section__dates {
			font-size: 15px;
			margin-top: 3px;
			opacity: 0.75;
			margin-bottom: 12px;
		}

		.body {
			font-size: 15px;
			line-height: 1.7;
			opacity: 0.75;
		}
	}	
}

@media (max-width: 1024px) {
	.sidebar {
		.section__dates {
			margin-top: -3px;
			margin-bottom: 9px;
			font-weight: 400;
			font-size: 18px;
			opacity: 0.75;
		}

		.section__location {
			margin-top: -3px;
			margin-bottom: 0;
		}
	}
}